nav.navbar.navbar-static-top.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href="#")
        span.glyphicon.glyphicon-home
        | Sands

    .collapse.navbar-collapse#bs-example-navbar-collapse-6
      ul.nav.navbar-nav
        li.active
          a(ng-href="#") 主页
        li
          a(ng-href="#") 关于
        li
          a(ng-href="#") 联系我

      ul.nav.navbar-nav.navbar-right
        li.dropdown hello