// common color
$text-body: #777777;
$text-primary: #777777;
$text-primary-d: #333333;
$text-success-w: white;

// title
$text-title: #444444;
$text-title-l: #316E46;

// btn-color
$btn-primary: rgb(51, 51, 51);
$btn-primary-hover: #316E46;

// navbar
$navbar-bg: #316E46;


// border
$top-border-block: #E7E7E7;

// bg
$text-bg-d: #E7E7E7;


// panel
$panel-success: #316E46;

