// common color
$text-body: #777777;
$text-primary: #777777;
$text-title: #444444;
$text-title-l: #316E46;

// btn-color
$btn-primary: rgb(51, 51, 51);
$btn-primary-hover: #316E46;

// navbar
$navbar-bg: #316E46;




