@import "_color";


body{
  color: $text-primary;
}

.main {
  margin-top: 50px;
}
.font-bold {
  font-weight: bold;
}

// text-color

.copyright{
  color: $text-title-l;
}

.subtitle {
  color: $text-primary;
}

// ============ bootstrap overwrite ========================

// bootstrap button
.btn {
  border: 0 none;
  border-radius: 2px;
  transition: all 0.5s ease 0s;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn {
  &:focus,
  &:active:focus,
  &.active:focus, {
    outline: 0 none;
  }

}

.btn-primary {
  background: $btn-primary;
  color: #ffffff;
  &:hover,
  &:focus,
  &:active,
  &.active,
  {
    background: $btn-primary-hover;
  }
}

.open > .dropdown-toggle.btn-primary{
  background: $btn-primary-hover;
}

// panel
.panel {

  .panel-heading{
    font-weight: bold;
    transition: all .2s ease-in-out .05s;
  }

  &.panel-success {
    > .panel-heading {
      background-color: $text-bg-d;
      color: $text-primary-d;

      &:hover {
        padding-left: 2em;
        background-color: $panel-success;
        color: $text-success-w;
      }

    }
  }
}

// ================== end bootstrap overwrite =================

// ================== titles ======================
h1,
h2,
h3,
h4,
h5{
  font-weight: bolder;
  text-rendering: optimizeLegibility;
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  color: $text-title;
  margin-top: 0;
  margin-bottom: .5em;
}